
*.txt
*.iml
*.xml
*.xml
*.xml
*.txt
*.jar
*.java
*.csh
*.command
stanford-parser-full-2018-10-17/StanfordDependenciesManual.pdf
stanford-parser-full-2018-10-17/Makefile
stanford-parser-full-2018-10-17/lexparser_lang.def
stanford-parser-full-2018-10-17/lexparser.sh
stanford-parser-full-2018-10-17/lexparser.bat
stanford-parser-full-2018-10-17/lexparser-lang.sh
stanford-parser-full-2018-10-17/lexparser-lang-train-test.sh
stanford-parser-full-2018-10-17/lexparser-gui.sh
stanford-parser-full-2018-10-17/lexparser-gui.bat
stanford-parser-full-2018-10-17/ejml-0.23-src.zip
stanford-parser-full-2018-10-17/conf/ftb-latest.conf
stanford-parser-full-2018-10-17/conf/atb-latest.conf
stanford-parser-full-2018-10-17/bin/run-tb-preproc
stanford-corenlp-full-2018-10-05/tokensregex/color.properties
stanford-corenlp-full-2018-10-05/StanfordDependenciesManual.pdf
stanford-corenlp-full-2018-10-05/RESOURCE-LICENSES
stanford-corenlp-full-2018-10-05/patterns/example.properties
stanford-corenlp-full-2018-10-05/Makefile
stanford-corenlp-full-2018-10-05/LIBRARY-LICENSES
stanford-corenlp-full-2018-10-05/ejml-0.23-src.zip
stanford-corenlp-full-2018-10-05/corenlp.sh
stanford-corenlp-full-2018-10-05/CoreNLP-to-HTML.xsl
sick_train/SICK_train.txt
sick_train/readme.txt
sick_teast/readme.txt
sick_train/SICK_train.txt
sick_train/readme.txt
sick_teast/readme.txt
*.zip
*.iml
*.xml
